{{extend 'layout.html'}}
        {{if auth.user and auth.user.IS_ADMIN:}}
			<form action="remove_user_helper">
		        {{for entry in user_table:}}
		            {{=entry.first_name}}&nbsp;{{=entry.last_name}}&nbsp;&nbsp;&nbsp;&nbsp;{{=entry.email}}&nbsp;&nbsp;&nbsp;&nbsp;{{=entry.phone_number}}&nbsp;&nbsp;&nbsp;&nbsp;
		            <input type="checkbox" name="{{=entry.id}}" /><br />
		        {{pass}}
				<input type="submit" name="delete" value="Remove These Users"/>
			</form>
		{{else:}}
		    <p style="font-size:24px">You do not have access to this page. Please contact administrator for access.</p>
		{{pass}}