{{extend 'layout.html'}}
        <form action="unlink_POC_helper">
	        {{for entry in POC_list:}}
	            {{=entry.name}}&nbsp;&nbsp;&nbsp;&nbsp;{{=entry.email}}&nbsp;&nbsp;&nbsp;&nbsp;{{=entry.phone_number}}&nbsp;&nbsp;&nbsp;&nbsp;{{=entry.designation}}&nbsp;&nbsp;&nbsp;&nbsp;
	            <input type="checkbox" name="{{=entry.id}}" /><br />
	        {{pass}}
            <input type="hidden" name="project_id" value="{{=project_id}}" />
			<input type="submit" name="delete" value="Unlink these Point of Contacts"/>
		</form>