{{extend 'layout.html'}}
        <script>
            $(document).ready(function() {
                $("#view_poc").hide();
                $("#show_poc").click(function () {
	                $("#view_poc").slideToggle("slow");
                });
            });
			$(document).ready(function() {
				$("#view_products").hide();
				$("#show_products").click(function () {
				    $("#view_products").slideToggle("slow");
				});
				$("form#delete").submit(function(event)
				{
				    if (!confirm("Are you sure you want to delete this product? This operation cannot be undone!"))
				    {
				        event.preventDefault();
				        location.reload();
				    }
				});
			});
        </script>
        <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
        .tg .tg-3tf6{font-weight:bold;font-size:20px;font-family:Arial, Helvetica, sans-serif !important;;background-color:#32cb00;color:#ffffff;text-align:center}
        .tg .tg-baqh{text-align:center;vertical-align:top}
        .tg .tg-yq6s{background-color: #f0fce0;text-align:center;vertical-align:top}
        .button-container form,
		.button-container form div
        {
            display: inline;
		}

		.button-container input
        {
            display: inline;
            vertical-align: middle;
		}
        </style>

		{{for pro in project:}}
	        <h2 style="text-align: center">{{=pro.name}}</h2>
	        <p style="font-size: 24px; text-align: center">
	            Address: &nbsp;&nbsp;&nbsp;&nbsp;{{=pro.address}}<br />
	            Description: &nbsp;&nbsp;&nbsp;&nbsp;{{=pro.description}}<br />
	            Registered Date: &nbsp;&nbsp;&nbsp;&nbsp;{{=pro.registered_date}}<br />
                Phase: &nbsp;&nbsp;&nbsp;&nbsp;{{=pro.phase}}
	        </p><br />
        {{pass}}
        {{for o in org:}}
	        <h2 style="text-align: center">Organization Name: &nbsp;&nbsp;&nbsp;&nbsp;{{=o.name}}</h2>
	        <p style="text-align: center; font-size: 24px">
	            Organization Address: &nbsp;&nbsp;&nbsp;&nbsp;{{=o.address}}<br />
	        </p><br />
        {{pass}}

        <button id="show_poc">View/Hide Point of Contact Details</button><br /><br />
        <div id="view_poc">
            {{for poc in POC_list:}}
                Name: &nbsp;&nbsp;&nbsp;&nbsp;{{=poc.name}}<br />
                Mail Address: &nbsp;&nbsp;&nbsp;&nbsp;{{=poc.email}}<br />
                Phone Number: &nbsp;&nbsp;&nbsp;&nbsp;{{=poc.phone_number}}<br />
                Designation: &nbsp;&nbsp;&nbsp;&nbsp;{{=poc.designation}}<br /><br />
            {{pass}}
        </div>

        <!--Name, design_name, phase, block number, flat number, window number, design parameters name, values,
        view/edit button, delete button, go to next phase(phase peru) button, copu button.-->
        <button id="show_products">Show/Hide Products</button><br /><br />
        <div id="view_products">
            <table class="tg">
              <tr>
                <th class="tg-3tf6">S.No</th>
                <th class="tg-3tf6">Name</th>
                <th class="tg-3tf6">Design Name</th>
                <th class="tg-3tf6">Phase</th>
                <th class="tg-3tf6">Block Number</th>
                <th class="tg-3tf6">Flat Number</th>
                <th class="tg-3tf6">Window Number</th>
                <th class="tg-3tf6">Design Parameters</th>
                <th class="tg-3tf6">Buttons</th>
              </tr>
               {{strings=["tg-yq6s","tg-baqh"]}}
               {{num=0}}
               {{for product in product_list:}}
                    {{design_name = db(db.design.id==product.design_id).select(db.design.name)}}
                    {{for name in design_name:}}
                                {{Design_Name=name.name}}
                    {{pass}}
                    {{design_parameter_values=db(db.design_parameters_values.product_id==product.id).select()}}
                    {{parm_names=[]}}
                    {{parm_values=[]}}
                    {{line=""}}
                    {{for row in design_parameter_values:}}
                        {{design_parameter_names=db(db.design_parameters.id==row.design_parameter_id).select(db.design_parameters.name)}}
                            {{for name in design_parameter_names:}}
                                {{parm_names.append(name.name)}}
                            {{pass}}
                            {{parm_values.append(row.parameter_value)}}
                    {{pass}}
                    {{for i in xrange(len(parm_names)):}}
                        {{if(i<len(parm_names)-1):}}
                            {{line=line+parm_names[i]+"="+str(parm_values[i])+","}}
                        {{else:}}
                            {{line=line+parm_names[i]+"="+str(parm_values[i])}}
                        {{pass}}
                    {{pass}}
                    {{if(num%2==1):}}
                        {{classname=strings[0]}}
                        {{num += 1}}
                    {{else:}}
                        {{classname=strings[1]}}
                        {{num += 1}}
                    {{pass}}
                    {{i = 0}}
                    <tr>
                        <td class={{=classname}}>{{=num}}</td>
                        <td class={{=classname}}>{{=product.name}}</td>
                        <td class={{=classname}}>{{=Design_Name}}</td>
                        <td class={{=classname}}>{{=product.phase}}</td>
                        <td class={{=classname}}>{{=product.block_number}}</td>
                        <td class={{=classname}}>{{=product.flat_number}}</td>
                        <td class={{=classname}}>{{=product.window_number}}</td>
                        <td class={{=classname}}>{{=line}}</td>
                        <td class={{=classname}}>
                            <div class="button-container">
                                {{if product.phase != 'Completed':}}
		                            <form action="change_phase.html">
		                                <input type="hidden" name="product_id" value="{{=product.id}}" />
	                                    <input type="hidden" name="project_id" value="{{=project_id}}" />
	                                    <input type="hidden" name="phase" value="{{=phase_dict[product.phase]}}" />
		                                <input type="submit" value="Go to {{=phase_dict[product.phase]}} phase" />
		                            </form>
                                {{pass}}
	                            <!--<form action={{=URL('view_product.html')}}>
	                                <input type="hidden" name="entry_id" value="{{=product.id}}" />
                                    <input type="hidden" name="parameter_value" value="{{=','.join(design_parameters_vals[product.id])}}">
                                    <input type="hidden" name="flag" value="1">
	                                <input type="submit" value="View/Edit" />
	                            </form>-->
                                <form action={{=URL('view_product.html')}}>
	                                <input type="hidden" name="entry_id" value="{{=product.id}}" />
	                                <input type="submit" value="View/Edit" />
	                            </form>
	                            <form  id = "delete" action="delete_product_helper">
	                                <input type="hidden" name="{{=product.id}}" value="on">
	                                <input type="hidden" name="project_id" value="{{=project_id}}" />
	                                <input type="submit" value="Delete" />
	                            </form>
	                            <form action={{=URL("copy_details.html")}}>
                                    <input type="hidden" name="product_id" value="{{=product.id}}" />
	                                <input type="submit" value="Clone" />
	                            </form>
                            </div>
                        </td>
                       {{i=i+1}}
                    </tr>
               {{pass}}
            </table>
        </div><br />

        <form action="add_new_product.html">
            <input type="hidden" name="project_id" value="{{=project_id}}" />
            <input type="submit" value="Add new product" />
        </form><br /><br />
        <form action="delete_product.html">
            <input type="hidden" name="project_id" value="{{=project_id}}" />
            <input type="submit" value="Delete existing products" />
        </form><br /><br />
		<hr />

        <form action="view_docs.html">
            <input type="hidden" name="project_id" value="{{=project_id}}" />
            <input type="submit" value="View Documents" />
        </form><br /><br />
        <form action="quotation_options.html">
            <input type="hidden" name="project_id" value="{{=project_id}}" />
            <input type="submit" value="Generate Quotation" />
        </form><br /><br />
		<form action="generate_production_document">
            <input type="hidden" name="project_id" value="{{=project_id}}" />
            <input type="submit" value="Generate Production Documents" />
        </form><br /><br />
        <!--<form action="generate_raw_material_report.html">
            <input type="hidden" name="project_id" value="{{=project_id}}" />
            <input type="submit" value="Generate Raw Material Report" />
        </form><br /><br />-->
        <form action="generate_document">
            <select name="document_type">
                <option value="profile_cutting_list">Profile Cutting List</option>
                <option value="glass_cutting_list">Glass Cutting List</option>
                <option value="accessories_list">Accessories List</option>
                <option value="installation_material_list">Installation Material List</option>
                <option value="QC">QC</option>
            </select>
            <input type="hidden" name="project_id" value="{{=project_id}}" />
            <input type="submit" name="submit" value="Generate Document"/>
        </form><br /><br />
        <hr />

        <form action="upload_completion_letter.html">
            <input type="hidden" name="project_id" value="{{=project_id}}" />
            <input type="submit" value="Upload Completion Letter" />
        </form><br /><br />
        <form action="upload_other_documents.html">
            <input type="hidden" name="project_id" value="{{=project_id}}" />
            <input type="submit" value="Upload Other Documents" />
        </form><br /><br />
        <hr />

        <form action="update_project.html">
            <input type="hidden" name="project_id" value="{{=project_id}}" />
            <input type="submit" value="Update Project Details" />
        </form><br /><br />
        <form action="link_POC.html">
            <input type="hidden" name="project_id" value="{{=project_id}}" />
            <input type="hidden" name="org_id" value="{{=org_id}}" />
            <input type="submit" value="Link Point of Contact to Project" />
        </form><br /><br />
        <form action="unlink_POC.html">
            <input type="hidden" name="project_id" value="{{=project_id}}" />
            <input type="submit" value="Unlink Point of Contact from Project" />
        </form><br /><br />
        <form action="update_POC_details.html">
			<select name="entry_id">
                {{for entry in POC_list:}}
					<option value="{{=entry.id}}">{{=entry.name}}</option>
                {{pass}}
			</select>
            <input type="hidden" name="project_id" value="{{=project_id}}" />
			<input type="submit" name="update" value="Update Point of Contact Details"/>
		</form><br /><br />